html,
body {
  font-family: Helvetica Neue, sans-serif;
  font-size: 16pt;
}

header {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  text-align: center;
  font-size: 32pt;
  margin: 0;
  padding: 10px;
}

main {
  margin: 0 5%;
}

button {
  font-size: 16pt;
  padding: 10px 20px;
  border: 2px solid green;
  border-radius: 5px;
  background: white;
  cursor: pointer;
  margin-top: 20px;
}

article {
  width: 80%;
  margin: auto;
}

article h3,
img {
  margin-bottom: 0;
}

article p,
em,
li {
  line-height: 1.6;
  margin-top: 0;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  padding-top: 10px;
}

a {
  color: inherit;
  text-decoration: underline;
}

header a,
sup a,
.posts-list a {
  text-decoration: none;
}

article a:hover {
  color: green
}

figcaption {
  margin-top: -20px;
  margin-bottom: 20px;
  font-style: italic;
  font-size: 14pt
}

.links {
  display: flex;
  justify-content: center;
  gap: 20px;
}

#title {
  text-align: center;
  font-size: 30pt;
  margin-bottom: 15px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
}

#blog_title {
  font-size: 74pt;
  margin: 0;
}

#blog_tag {
  margin: 0;
}

#pinned-list {
  margin-bottom: 40px;
}

#posts-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  row-gap: 20px;
  column-gap: 20px;
}

#newest {
  margin-bottom: 40px;
}

#newest .section-header {
  margin-top: 10px;
}

#newest-post {
  text-align: center;
  font-weight: bold;
  font-size: 28pt;
}

.grid-post {
  text-align: center;
  height: 200px;
  background: #f0f0f0;
  border: 4px solid green;
  border-radius: 5px;
  padding: 10px;

}

.grid-post a {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  text-decoration: none;
}

.grid-post:hover {
  background: green;
  border-color: orange;
  color: white;
}

.pinned {
  margin: 30px 50px;
}

.pinned a {
  display: block
}

.pinned .list-title {
  margin: 20px;
}

.section-header,
.section-subheader {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  font-size: 24pt
}

.section-header {
  font-size: 28pt;

}

#see-all-container {
  text-align: center;
  margin-bottom: 20px;
}

#newest .section-header {
  margin-bottom: 10px;
}

#newest {
  margin-bottom: 50px;
}

#newest .list-date {
  font-style: italic;
  text-align: center;
  margin-top: 0px;
}

.list-date {
  font-style: italic;
  text-align: center;
}

.title {
  font-size: 28pt;
}

.description {
  font-weight: normal;
  font-style: italic;
}

#metaphors {
  list-style: none;
  text-align: center;
}

.read-more {
  display: none;
}

#read-more-tag:hover {
  color: green;
  cursor: pointer;
}

.list-title {
  font-size: 24pt;
  margin: 0;
}

.not-found {
  text-align: center;
}

#footnote-label {
  display: none;
}

.footnotes {
  font-size: 14pt;
}

.footnotes p {
  line-height: 1.2;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #313030;
    color: #e0e0e0;
  }

  hr {
    border-color: #555;
  }

  .grid-post {
    background: #424242;

  }

}

@media only screen and (max-width: 1000px) {
  body {
    margin: 0;
  }

  article {
    width: 90%;
  }

  .pinned {
    margin: 20px 5px;
  }

  #blog_title {
    font-size: 36pt;
  }

  #blog_tag {
    font-size: 24pt;
  }

  #newest em {
    display: none;
  }

}

@media only screen and (max-width: 500px) {
  article {
    width: 100%;
  }

  .pinned {
    height: auto;
  }

  .grid-post em {
    display: none;
  }

  #posts-list {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}